/* Container */
html {
    overflow-x: hidden;
}
body {
    padding: 0;
    margin: 0;
}
#container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
#primary_cont {
    width: 70%;
}
#recomm_cont {
    width: 30%;
    padding: 1%;
}

/* Header */
#header_cont {
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0px 1px 1px grey;
    padding: 10px !important;
}
#logo_cont {
    width: 20%;
    text-align: left;
}
#search_cont {
    width: 50%;
    text-align: center;
}
#search_cont > input {
    width: 50%;
    padding: 5px 10px 5px 15px;
    font-size: 16px;
}
#search_cont > button {
    margin-left: -5px;
    padding: 7px 20px 6px 20px;
}
#user_cont {
    width: 30%;
    text-align: right;
    font-size: 18px;
    color: lightslategray;
}
#user_cont > i {
    margin-left: 20px;
}
.user-circle {
    font-size: 30px;
}
.search {
    display: none !important;
}
#logo_cont > i {
    font-size: 18px;
    margin-right: 10px;
}
#youtube_logo {
    height: 20px;
}

/* Video Container */
#primary_cont #video_cont {
    padding: 2%;
}
#primary_cont #video_cont img{
    max-width: 100%;
    border: 1px solid black;
}

/* Video Name Container */
#vid_name_cont {
    margin-top: 10px;
    margin-bottom: 10px;
}
#vid_name_cont > p {
    margin: 2px;
}
#vid_name_cont #vid_seq {
    color: blue;
    font-size: 12px;
}
#vid_name_cont #vid_name {
    font-size: 20px;
}

/* Video Action Container */
#vid_dt_cont {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid lightgrey;    
}
#vid_dt_cont #vid_views {
    text-align: left;
    font-size: 16px; 
    width: 50%;   
}
#vid_dt_cont #action_grid {
    width: 50%;
    text-align: right; 
    color: lightslategray;  
    font-size: 18px;
}
.action {
    margin-left: 20px;
    padding: 5px;
}

#reaction_cont {
    display: inline-block;
    border-bottom: 2px solid grey;
    padding: 5px;
}
/* Comment Container */
#comments_cont {
    padding: 2%;
} 
#comments_cont > span {
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
    color: darkslategrey;
}

/* Comments Styling */
.comment_cont {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Comment User Details */
.user_img img{
    width: 50px;
    margin-right: 15px;
    border-radius: 50%;
}
.user_name > span {
    margin:0 10px 0 0;
}
.user_name .name {
    font-size: 18px;
    font-weight: bold;
}
.user_name .time {
    font-size: 16px;
}
/* Comment Details */
.comment > p{
    font-size: 18px;
    margin: 5px 0 5px 0;
}
/* Comment Action */
.comment_action {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: lightslategray;
}

/* Comment Replies */
.view_reply > a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Recommended Video Container */
#recom_heading{
    margin-left: 2%;
    padding: 1.5%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-wrap: nowrap;
}
#recom_heading > div {
    width: 50%;
}
#upnext_heading {
    text-align: left;
}
#autoplay_heading {
    display: table;
    text-align: right;
    vertical-align: middle;
    color: darkslategrey;
}
#autoplay_heading > span {
    font-size: 14px;
}
#autoplay_heading > i {
    margin-left: 5px;
    font-size: 22px;
}
.re_sm_cont {
    padding: 1.5%;
    display: flex;
    flex-wrap: nowrap;
}
.re_sm_img {
    width: 250px;
    margin-left: 15px;
    margin-right: 15px;
}
.re_sm_img img{
    width: 100%;
}
.re_sm_det > p{
    margin: 2px; 
}
.re_sm_det .sm_name {
    font-size: 18px;
    font-weight: bold;
}
.re_sm_det .sm_ch_name, .re_sm_det .sm_views {
    font-size: 16px;
    color: grey;
}

/* Responsive Design below 992 px */

@media screen and (max-width: 992px) {
    /* Containers */
    body {
        padding: 0px;
    }
    #container {
        display: block;
    }
    #primary_cont {
        width: 100%;
    }
    #recomm_cont {
        width: 100%;
    }
    
    /* Header */
    #logo_cont {
        width: 40%;
    }
    #search_cont {
        display: none;
    }
    .search {
        display: inline-block !important;
    }
    #user_cont{ 
        width: 60%;   
    }
    #user_cont > i {
        margin-left: 5px;
    }

    /* Video Name Container*/
    #vid_name_cont #vid_seq {
        color: blue;
        font-size: 16px;
    }
    #vid_name_cont #vid_name {
        font-size: 20px;
    }
    #views_tag{
        display: none;
    }
    #vid_dt_cont #vid_views {
        width: 25%;
    }
    #vid_dt_cont #action_grid {
        width: 75%;
    }
    #vid_dt_cont #action_grid {
        font-size: 14px;
    }
    .action {
        margin-left: 1px;
    }

    /* Comment Conatainer */
    #comments_cont {
        height: 200px;
        overflow-y: scroll;
    }

    /* Recommended Video Container */
    .re_sm_det .sm_name {
        font-size: 16px;
        font-weight: bold;
    }
    .re_sm_det .sm_ch_name, .re_sm_det .sm_views {
        font-size: 14px;
        color: grey;
    }
}